html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottle-container {
  width: 50vw;
  height: 50vw;
  position: relative; /* If you want text inside of it */
  margin: auto;
}

img {
  position: absolute;
  top: 3%;
  left: 50%;
  margin-left: -13%;
  height: 93%;
}

@media screen and (max-width: 1000px) {
  .bottle-container {
    width: 95vw;
    height: 95vw;
  }
}
