html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottle-container {
  width: 50vw;
  height: 50vw;
  position: relative; /* If you want text inside of it */
  margin: auto;
}

img {
  position: absolute;
  top: 3%;
  left: 50%;
  margin-left: -13%;
  height: 93%;
}

.alt {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

.alt.highlight {
  background-color: green;
}

.alt.highlight .icon {
  color: #fff;
}

.alt-1 {
  background-color: #ccc;
  left: 0;
}

.alt-2 {
  justify-content: flex-end;
  background-color: #aaa;
  left: 50%;
}

.icon {
  margin: 12%;
  color: #555;
  font-size: 21vw;
}

.btn-icons {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .bottle-container {
    width: 95vw;
    height: 95vw;
  }
}
